@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*General*/
html body {
    background-color:#5dbcd2;
}

.buffer{ 
    margin-top:20px;
    margin-bottom: 20px;
}

.bottom-buffer{
    margin-bottom: 5%;
}

.vid-title{
    font-family: 'Press Start 2P', cursive , sans-serif;
    color: #fafafaad;
    text-align: center;
    padding: 20px;
    height: 20%;
    margin-top:40%;
    margin-bottom:40%;
    text-decoration: underline;
    line-height: 3;
}

/* Navbar styling */
.nav-link {
    font-family: 'Press Start 2P', cursive , sans-serif;
    margin: 0px 30px;
    font-size: x-large;
}

.navbar .active{
    background:#55585c;
    border-radius:25px;
}

/* text styling */
.title-name{
    font-family: 'Press Start 2P', cursive , sans-serif;
    color: #fafafaad;
    text-align: center;
    padding: 25px 5px;
    text-decoration: underline;
    line-height: 1;
}

.about-text{
    line-height: 1;
    font-family: 'Press Start 2P', cursive , sans-serif;
    color: #fafafaad;
    text-align: center;
    word-spacing: 1px;
    display: inline-block;
    
}

/* Footer styling */
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color:#343a40;
    text-align: center;
}

/*Link Styling*/
.social-links {
    padding-bottom: 15px;
}

.social-links li a {
    margin:15px;
    font-size: x-large;
    color: #fafafaad;
}

/*Button styling*/
.button {
    padding: 5px;
    font-family: 'Press Start 2P', cursive , sans-serif;
    font-size:medium;
    text-align: center;
    vertical-align: middle;
    color: #fafafaad;
    background-color:#343a40;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px;
}


.icon{
    vertical-align: middle;
    margin-bottom:6px;
}

/* Home Gallery styling*/

#carouselBandImages{
    height: 770px;
    margin-top:15px;
    margin-bottom:5%;
}

#carouselBandImages img{
    width: 90%;
    height: 770px;
}

#about-photo{
    column-count: 4;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom:20px;
}

#about-photo img{
    margin-top:10px;
    margin-bottom:10px;
    height:50%;
    width: 100%;
    padding: 10px;
}

/*Video Styling */
#music-video{
    padding-top: 35px;
    padding-bottom: 35px;

}

/*Form Styling*/
.form-text{
    text-align: center;
    font-family: 'Press Start 2P', cursive , sans-serif;
    color: #fafafaad;
    padding-top: 30px;
}

.form-layout{
    height: 80%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom:5%;
    line-height: 10px;
}

/*Merch page styling*/

.merch-image{
    float: right;
    height: 100%;
    width: 100%;  
} 

select, .buy-button {
display:table-row;
float:left;
font-size: medium;
font-family: 'Press Start 2P', cursive , sans-serif;
color: #000000;
height: 20%;
width: 90%;
margin-top:10%;
margin-right: 2%;
padding-bottom:5%;
padding-right: 0;
box-sizing: border-box;
border: 1px solid #aaa;
border-radius: .5em;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}

#merch-container{
    background: #fafafaad;
    box-sizing: border-box;
    border: 1px solid rgb(5, 5, 5);
    border-radius: .5em;
}

/*Event styling*/

#tour div{
    background-color: #343a40; 
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(5, 5, 5);
    border-radius: .5em;
    color:#fafafaad;
    font-family: 'Press Start 2P', cursive , sans-serif;
    padding: 30px 0 0 10px;
    text-align: center;
}

/*Screensize response*/


/* Desktop response */
@media screen and (min-width: 770px){


#merch-layout{
    column-count: 4;
}

.button-position{
    margin-left: 40%;
    margin-right:40%;
    width: 20%;
}

}

/* Tablet Response */
@media screen and (max-width:769px) {

#carouselBandImages{
    height: 80%;
    margin-top:15px;
    margin-bottom:15px;
}

#carouselBandImages img{
    width: 90%;
    height: 100%;
}

.button-position{
    margin-left: 40%;
    margin-right:40%;
    width: 20%;
}

#music-video{
    column-count: 2;
}

#music-video iframe {
    height: 70%;
    padding-bottom: 10px;
}

.form-layout{
    height: 80%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom:7%;
}

#merch-layout{
    column-count: 6;
}

.about-text{
    padding:25px 5px;
}
}

/* Mobile Response */
@media screen and (max-width:480px) {

footer{
    margin-top:10%;
    height:6%;
}

.button-position{
    margin-left: 20%;
    margin-right:20%;
    width: 60%;
    padding-bottom: 25px;
}

#carouselBandImages{
    height: 80%;
    margin-top:15px;
    margin-bottom:15px;
}

#carouselBandImages img{
    width: 90%;
    height: 100%;
}

.about-text{
    padding:25px 5px;
}

.title-name{
    padding:25px 5px;
}

#music-video{
    column-count: 1;
}

#music-video iframe {
    height: 70%;
    padding-bottom: 10px;
}

.form-layout{
    height: 80%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom:15%;
}

#merch-layout{
    column-count: 8;
}
}
