@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Navbar styling */

.nav-link {
    font-family: 'Press Start 2P', cursive , sans-serif;
    margin: 30px 30px;
    font-size: large;
}

/* Body styling */

html body {
    background-color:#0a0d38;
}

body{
    padding-bottom: 95px;
}

.title-name{
    font-family: 'Press Start 2P', cursive , sans-serif;
    color: #fafafaad;
    text-align: center;
    padding: 20px;
    height: 10%;
}

.about-text{
    line-height: 1;
    font-family: 'Press Start 2P', cursive , sans-serif;
    color: #fafafaad;
    text-align: center;
    word-spacing: 1px;
    display: inline-block;
}

/* Footer styling */
footer {
    clear: both;
    position: relative;
}


/*Link Styling*/
.social-links {
    padding-bottom: 15px;
}

.social-links li a {
    margin:15px;
    font-size: x-large;
    color: #fafafaad;
}

#music-links a{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive , sans-serif;
    margin:70px;
    font-size: x-large;
    color: #fafafaad;
}

#music-links a i {
    margin: 10px;
    font-size: xxl;
    
}

/* Home Gallery styling*/
#gallery{
    clear: both;
    column-count: 3;
    line-height: 0;
    column-gap: 0;
}

#gallery img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

/* About Gallery styling*/
#about-photo{
    clear: both;
    column-count: 3;
    line-height: 0;
    column-gap: 0;

}

#about-photo img{
    clear: both;
    margin-top: 10px;
    width: 100%;
    height: 60%;
}

#music-video{
    padding-top: 35px;
    padding-bottom: 35px;
}

/*Form Styling*/
.form-text{
    text-align: center;
    font-family: 'Press Start 2P', cursive , sans-serif;
    color: #fafafaad;
    padding-top: 30px;

}

.buffer{ 
    clear: both;
    margin-top:30px;
    margin-bottom: 30px;
}

.form-layout{
    height: 100%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

/*Merch page styling*/

.merch-image{
    max-width: 100%;
}

/*Merch select styling*/

select, .buy-button {
display: inline-block;
font-size: 16px;
font-family: 'Press Start 2P', cursive , sans-serif;
color: #000000;
width:20%;
max-width:20%;
box-sizing: border-box;
margin: 20px;
border: 1px solid #aaa;
border-radius: .5em;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}


/*Screensize response*/

@media screen and (max-width: 1396px){

#merch-layout{
    column-count: 6;
}

}

@media screen and (max-width:943px) {
#gallery {
    column-count: 2;
}

#music-video{
    column-count: 2;
}

#music-video iframe {
    height: 70%;
    padding-bottom: 10px;
}

#merch-layout{
    column-count: 2;
}

select{
    column-count: 1;
}

}

@media screen and (max-width:800px) {
#gallery, select {
    column-count: 1;
}

#music-video{
    column-count: 1;
}

#music-video iframe {
    height: 70%;
    padding-bottom: 10px;
}

#merch-layout{
    column-count: 2;
}

}
